#tan {
    color: rgb(2, 1, 1);
    font-size: larger;
    background-color: rgb(43, 226, 211);
    height: auto;
    width: auto;
}
.hello {
    color: brown;
    font-size: larger;
    background-color: slategrey;
    height: auto    ;
    width: auto;

}
#WORLD
{
    color: rgb(150, 49, 108);
    background-color: blue;
}
